body {
  background-color: rgb(254, 232, 230);
  color: rgb(254, 68, 230);
  text-align: center;
}

h2 {
  color: orange;
}
h3 {
  color: rgb(106, 48, 252);
}
body {
  font-size: 300%;
  font-style: italic;
}
h1 {
  color: yellow;
}
.red {
  font-size: 50%;
}
